$white: #fff;
$black: #333;
$bg-color: #f2f2f2;
$dark-bg: #333;

$gray: #666666;
$l-gray: #e5e5e5;
$border-color: #cbcbcb;
$dark-border: #282826;

$heading-bg: #d8d8d8;
$green: #14ab4a;
$blue: #3cb1e6;

$icon-bg: #5a5a58;
$icon-color: #90908e;
$icon-shadow: rgb(67,67,65);
$icon-hover-shadow: rgb(41,119,155);

$layer-1: -1px 1px 2px rgba(0, 0, 0, .1);
